*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;

}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ba
}

.menu {
    display: none;
}


#slide {
    width: auto;
    height: 500px;
}
