<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constructor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Constructor</h1>
            <button id="menu">MENU</button>
            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="section-header">
            <h2>Venha construir sua casa já !</h2>
            <div id="carrosel">
                <div id="imgs-header">
                    <div class="slide">
                        <img src="/img/img-header-max-px.jpg" alt="" srcset="">
                        <div class="info">
                            <h3>Slide 1</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto dignissimos mollitia perspiciatis !</p>
                        </div>
                    </div>
                    <div class="slide">
                        <img src="/img/img2-header-max-px.jpg" alt="" srcset="">
                        <div class="info">
                            <h3>Slide 1</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto dignissimos mollitia perspiciatis !</p>
                        </div>
                        <div class="navigation">
                            <div class="btn-img"></div>
                            <div class="btn-img"></div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Construa sua casa com os melhores engenheiros e arquitetos </h3>
            <div class="cards">
                 
                <div class="card-img">
                    <div class="img-service">
                        <img src="/img/img-service-1.jpg" alt="engenheira" >
                    </div>
                    <h4>Engenheira</h4>
                    <p>A nossa melhor engenheira que trabalha  conosco ha x anos...</p>
                    <h5>email: youremail@gmail.com</h5>
                </div>
                <div class="card-img">
                    <div class="img-service">
                        <img src="/img/img-service-2.jpg" alt="engenheira" >
                    </div>
                    <h4>Gestor de Projetos</h4>
                    <p>O nossa melhor gestor de projetos que trabalha  conosco ha x anos..</p>
                    <h5>email: youremail@gmail.com</h5>
                </div>
                <div class="card-img">
                    <div class="img-service">
                        <img src="/img/img-service-3.jpg" alt="engenheira" >
                    </div>
                    <h4>Engenheiro</h4>
                    <p>O nosso melhor engenheiro que trabalha  conosco ha x anos..</p>
                    <h5>email: youremail@gmail.com</h5>
                </div>
            </div>
        </section>
        <section id="avaible">

           

        </section>
        
    </main>

    <footer>
        
            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
            </ul>
       
        <h2>&copy;Cobstructor</h2>
    </footer>
  
      
    
    







    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/javascript/index.js"></script>
</body>
</html>