<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constructor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Constructor</h1>
            <button id="menu">MENU</button>
            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="section-header">
            <h2>Venha construir sua casa já !</h2>
            <div id="imgs-header">
                <picture>
                    <source media="(max-width: 350px)" srcset="/img/img-header-minpx.jpg">
                    <source media="(max-width: 600px )" srcset="/img/img-header-380px.jpg">
                    <img src="/img/img-header-max-px.jpg" alt="casa" srcset="">
                </picture>
            </div>
            <h3>Construa sua casa com os melhores engenheiros e arquitetos </h3>
            <div class="cards">
                 
                <div class="card-img">
                    <div class="img-service">
                        <img src="/img/img-service-1.jpg" alt="engenheira" >
                    </div>
                    <h4>Engenheira</h4>
                    <p>A nossa melhor engenheira que trabalha  conosco ha x anos...</p>
                    <h5>email: youremail@gmail.com</h5>
                </div>
                <div class="card-img">
                    <div class="img-service">
                        <img src="/img/img-service-2.jpg" alt="engenheira" >
                    </div>
                    <h4>Gestor de Projetos</h4>
                    <p>O nossa melhor gestor de projetos que trabalha  conosco ha x anos..</p>
                    <h5>email: youremail@gmail.com</h5>
                </div>
                <div class="card-img">
                    <div class="img-service">
                        <img src="/img/img-service-3.jpg" alt="engenheira" >
                    </div>
                    <h4>Engenheiro</h4>
                    <p>O nosso melhor engenheiro que trabalha  conosco ha x anos..</p>
                    <h5>email: youremail@gmail.com</h5>
                </div>
            </div>
        </section>
        <section id="availables">
            <input type="text" name="username">
            <textarea name="available" id="" cols="30" rows="5"></textarea>
        </section>
    </main>

    







    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/javascript/index.js"></script>
</body>
</html>