* {
    margin: 0px;
    padding: 0px;
    
    font-family: Arial, Helvetica, sans-serif;
}

.black {
    background-color: rgba(0, 0, 0, 0.658);
}

/* cabecalho */

#sun {
    display: none;
    transition: 2.0s;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    margin-left: auto;
    align-items: center;
    width: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    background-color: #034657;
}

header > img {
    margin-right: auto;
    height: 60px;
    padding-left: 10px;
    
}

#mudar-tema {
    display: none;
    
}

header > div {
    display: inline;
    padding-right: 40px;
}

 #pesq{
    width: 120px;
     margin-right: auto;
     text-align: center;
}

/* items mais vendidos */

#mais-vendidos {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;

}

.price > a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.price > a:hover {
    color: rgb(255, 0, 0);
}
#card-1 > img {
    height: 70px;
    border-radius: 50%;
    

}

#card-1 {
    padding-left: 40px;
    
}

/* Responsivo da parte header/ section + vendidos*/

@media (max-width: 550px) {
    #card-4 {
        display: none;
    }
    
    #card-5 {
        display: none;
    }
}

@media (max-width: 340px){
    i{
        display: none;
    }
    #card-3 {
        display: none;
    }

    #card-1,#card-2 {
         
         padding-left: 10px;   
    }

    #card-2{
        padding-left: 10px;
    }
}

/* main */

#container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    border-bottom: 2px solid black ;
}



.card-p {
    width: 300px;
    height: 200px;
    margin: 20px 20px;
    display: flex;
   
   
}

.card-p > img { 
    height: 200px;
    
    
}

.details > p {
    width: 150px ;
    align-self: baseline;
    text-align: justify;
    padding-top: 10px;
    padding-left: 10px;
}

.details > .price {
    align-items: end;
    padding-left: 10px;
    padding-top: 100px;

    
}


footer {
    display: block;
    width: auto;
    height: 150px;
    background-color: #0584A3 ;
    
}

.foot {
    text-align: center;
    padding-top: 72px;
}