body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #8C8C8C;

}

/* estilos da nav-bar */

header{
    position: relative;
    height: 50px;
    width: 100%;   
    background-color: #595959;
    border-bottom: 2px solid rgba(0, 0, 0, 0.342);

}

nav {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    color: #F2F2F2;
}

nav > h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 40px;
}
nav > ul {
    display:  flex;
    padding-top: 10px;
    gap: 50px;
    margin-right: 40px;
    list-style: none;
}

nav > ul li a {
    padding: 5px;
    font-size: 1.2rem;
    color: #F2F2F2;
    text-decoration: none;
    transition: .6s;
}

nav > ul li a:hover {
    color: #0D0D0D;
}

#menu{
    display: none;
}

@media (max-width: 700px){
    nav > ul {
        display: block;
        position: absolute;
        height: 0;
        top: 30px;
        left: 0;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        transition: .3s;
    }

    #menu {
        display: block;
        margin-left: 30px;
        margin-right: 80px;
        padding: 4px;
        font-size: 1rem;
        border: none;
        background-color: #595959;
        color: #F2F2F2;
        cursor: pointer;
    }

    nav > h1 {
        padding-top: 10px;
        font-size: 1.2rem;
        margin-left: 20px;
    }

    nav.active ul {
        width: 100%;
        padding-top: 30px;
        height: calc(100vh - 30px);
        visibility: visible;
        overflow-y: auto;
        background-color: #595959;

    }

    nav.active ul li {
        
        padding-top: 50px;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.356);
    }
}

/* estilos main e sections */

main {
    position: static;
    width: 100%;
    background-color: #8C8C8C;
    border-bottom: 2px solid rgba(0, 0, 0, 0.295);
}

#section-header{
    margin: 50px auto;
    padding-bottom: 40px;
    border-bottom: 2px solid  rgba(0, 0, 0, 0.295);
}

#section-header > h2 {
    color: #F2F2F2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;

}

#carrosel{
    display: flex;
    justify-content: center;
}
#imgs-header{
   
   position: relative; 
   height: 427px;
   width: 640px;
   margin: 10px;
   
}

#imgs-header .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

#imgs-header .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

#imgs-header .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

#imgs-header .slide .info{
    position: absolute;
    top: 0;
    padding: 10px 25px;
}

#imgs-header .slide .info h3{
    color: #595959;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

#imgs-header .slide .info p{
    text-align: justify;
    color: #000000;
    background-color: #f2f2f22d;
    font-size: 1.2rem;
    width: 80%;
    padding: 10px;
    border-radius: 4px;
}

#imgs-header .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

}

#imgs-header .navigation .btn-img {
    
    background-color: #111111b4;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 10rem;
    cursor: pointer;

}

#imgs-header .navigation .btn-img.active {
    background-color: #2696e9;
}

@media (max-width: 820px) {
    #imgs-header{
        width: 600px;
        height:375px;

    }
    
}

@media (max-width: 620px) {
    #imgs-header{
        width: 400px;
        height:280px;

    }
    #imgs-header .slide .info h3 {
        font-size: 1.5rem;
    }

    #imgs-header .slide .info p {
        width: 80%;
        font-size: 15px;
    }
    
    #imgs-header .navigation {
        bottom: 10px;
    }
}

@media (max-width: 420px) {
    #imgs-header{
        width: 340px;
        height:200px;

    }
    #imgs-header .slide .info h3 {
        font-size: 1rem;
    }

    #imgs-header .slide .info p {
        width: 90%;
        font-size: 10px;
    }

    #imgs-header .navigation {
        bottom: 10px;
    }

}

#section-header > h3{
    margin: 30px;
    color: #F2F2F2;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.card-img{
    height:auto;
    width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.589);
    border-radius: 2rem;
}

.card-img > h4{
    padding-top: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.404);
    text-align: center;
    padding-bottom: 10px;

}

.card-img > h5 {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.card-img > p {
    text-align: justify;
    padding: 0 15px 10px 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.404);
}

.img-service {
    width: 100px;
}

.img-service > img {
    width: 296px;
    border-radius: 1.9rem 1.9rem 0 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.404);
}


.form-group > label {
    padding-top: 20px;
    margin-left: 50px;
}

.form-group > input {
    margin-left: 50px;
    max-width: 300px;
}

.form-group > textarea {
    margin-left: 50px;
    max-width: 400px;
}

form > button {
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
}




footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    height:  100px;
    background-color: #8C8C8C;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

footer ul li a {
    padding: 3px;
    font-size: 1.15rem;
    color: #F2F2F2;
    text-decoration: none;
}

footer h2 {
    padding-right: 30px;
}


/*  register css*/

.card {
    border: none;
    background-color: #8C8C8C;
   
}