footer {
    display: flex;
    background-color: #8dcca9;
    position: relative;
    align-items: center;
    width: auto;
    height: 150px;
    
}

.contacts{
    display: block;
    width: auto;
    position: absolute;
    top: 20px;
    left: 20px;
   
}

.email  {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 50%;
    transform: translate(-50%);  
}